<div>
  <button id="addNewTodo" mat-raised-button (click)="openDialog()">Add New Todo</button>
</div>


<div layout-gt-sm="row">
  <div flex-gt-sm="80" flex-offset-gt-sm="10">
    <mat-card>
      <mat-card-title id="todo-list-title">Todos</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-form-field>
          <input matInput id="todoOwner" #input placeholder="Filter by owner"
                 (input)="todoOwner = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoStatus" #input placeholder="Filter by status"
                 (input)="todoStatus = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoBody" #input placeholder="Filter by body input"
                 (input)="todoBody = $event.target.value">
        </mat-form-field>
        <mat-form-field>
          <input matInput id="todoCategory" #input placeholder="Filter by category"
                 (input)="todoCategory = $event.target.value">
        </mat-form-field>

        <!--<mat-form-field>
          <input matInput id="userCompany" #input type="search" placeholder="Search for company"
                 [(ngModel)]="userCompany"/>
          <button mat-button id="companyClearSearch" type="button" *ngIf="userCompany" matSuffix mat-icon-button
                  aria-label="clear" (click)="userCompany='';loadService()">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>-->
        <button mat-raised-button id="submit" color="primary" #input type="button" (click)="loadService()">Submit
        </button>

        <mat-accordion *ngIf="todos; else todosError">
          <mat-expansion-panel #elem class="todos" [id]="todo.body" [expanded]="this.isHighlighted(todo)"
                               *ngFor="let todo of this.filterTodos(todoOwner, todoStatus, todoBody, todoCategory)">
            <mat-expansion-panel-header>
              <mat-panel-title {{todo.owner}}</mat-panel-title>

            </mat-expansion-panel-header>
            <mat-panel-description>Category is {{todo.category}}</mat-panel-description>
            <mat-panel-description>Status: {{todo.status}} true or false</mat-panel-description>
          </mat-expansion-panel>
        </mat-accordion>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #todosError>
          <mat-error>
            There was a problem loading the todos. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
